<table id='dayreporttable'>
  <tr>
    <td>
      <h3>Amount by date</h3>
      <% form_tag user_day_report_url, :remote=>true, :controller => 'users', :action => 'day_report' do %>
          <input name="date" value=<%= @user.date %>>
          <input name="id" value='1' type='hidden'/>
          <input type="submit" value="Search" class='button'/>
      <% end %>
      <div id="assigned-to-listing">
        <table class="listing" cellspacing="0">
          <thead>
          <tr class="header">
            <th>Date</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @user.date.to_s unless @user.nil? -%></td>
            <td><%= @user.date_amount unless @user.nil?  -%></td>
          </tr>
          </tbody>
        </table>
      </div>

    </td>

  </tr>
</table>