<div id="error_explanation">
  <h5><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h5>

  <ul>
  <% @customer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
