<div id="error_explanation">
  <h5><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h5>

  <ul>
  <% @room.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
